#logo{
    width: 90px;
    margin-left: 2%;
}
#heading{
    background-color: black;
    /* margin-top: 0%; */
}
#allign{
    margin-left: 33%;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    color: blanchedalmond;
}
.line{
    text-decoration: none;
    background-color: rgb(20, 13, 4);
    color: beige;
    margin-left: 3%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}
#book{
    margin-left: 5%;
}
#feedback{
    margin-left: 63%;
}
#details{
    margin-left: 5%;
}
#space{
    margin-top: 2%;
}
#footer
{
    margin-top: 5%;
    color: rgb(200, 24, 24);
    background-color: rgb(222, 184, 135);
    text-align: center;
}
.image{
    width: 1%;
}
#BookingForm{
    padding-top:40px;
    padding-left:30px;
    padding-right:30px;
    /*padding-bottom:30px;*/

    margin-left: 27%;
    margin-right: 27%;
    margin-top: 2%;
    background-color: rgb(242, 187, 115);
}
#first{
    margin-left: 14.5%;
}
#last{
    margin-left: 15%;
}
#mail1{
    margin-left: 20%;
}
#number1{
    margin-left: 9%;
}
#payment{
    margin-left: 8.5%;
    width: 170px;
    border-radius: 8px;
    height: 24px;
    width: 200px;
}
#checkIn{
    margin-left: 11%;
}
#checkOut{
    margin-left: 10%;
}
#adult{
    margin-left: 19.3%;
}
#child{
    margin-left: 17.4%;
}
#room{
    margin-left: 19%;
}
input{
    border-radius: 8px;
    width: 200px;
    height: 20px;
}
#submitId{
    margin-left: 40%;
}

#resetId{
    margin-left: 4%;
}
.color1{
    color: red;
}
label{
margin-left:18%;
}
