header{

    background-color: rgb(28, 27, 27);
    padding: 8px;
    justify-content:left;

}

#image{
    width: 80px;
}
#nextpage{
    margin-left: 82%;

}

form{
    padding-top: 50px;
    /* padding-left: 20%; */
    /* margin-top: 4%; */
    margin-left: 20%;
    margin-right: 20%;


    background-color: rgb(199, 142, 73);
    border: 3px solid black;
}

#button{
    margin-left: 380px;
}
#gender{
    margin-left: 160px;
}
h2{
    text-align: center;
    font-style: italic;
    color: rgb(181, 21, 21);
    background-color: rgb(80, 213, 146);
}
#house{
    margin-left: 4%;
}
#state{
    margin-left: 8%;
}
#submit{
    background-color: chocolate;
}
#clear{
    background-color: chocolate;
}
.required{
    color: rgb(85, 7, 241);
}
#display1{
    /* margin-left: 10%; */

}
#display5{
    margin-left: 10%;

}
#display3{
    margin-left: 25%;
    color: antiquewhite;
}